<h1> sathya kishore</h1>


<div class="container mt-5">
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <div class="card-header bg-light">
        <div class="row align-items-center">
          <img 
          class="card-img-top"
          src="assets/pics/Iphone 11.png"
          alt="Card imgage cap"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Iphone 11 </h5>
          <h4 class="card-title">1500$ </h4>
          <p class="card-text text-justify">
            1)best product with good features.2) top quality product available in market.
          </p>
          <button class="btn btn-primary">Add to cart</button>
        </div>
      </div>
    </div>
    <!--samsung-->
    <div class="col-md-3 col-sm-3">
      <div class="card-header bg-light">
        <div class="row align-items-center">
          <img 
          class="card-img-top"
          src="assets/pics/Samsung 10.png"
          alt="Card imgage cap"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">samsung 10 plus </h5>
          <h4 class="card-title">1400$ </h4>
          <p class="card-text text-justify">
            1)best product with good features.2) top quality product available in market.
          </p>
          <button class="btn btn-primary">Add to cart</button>
        </div>
      </div>
    </div>
    <!--mi-->
    <div class="col-md-3 col-sm-3">
      <div class="card-header bg-light">
        <div class="row align-items-center">
          <img 
          class="card-img-top"
          src="assets/pics/Mi 10.png"
          alt="Card imgage cap"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Mi 10 </h5>
          <h4 class="card-title">900$ </h4>
          <p class="card-text text-justify">
            1)best product with good features.2) top quality product available in market.
          </p>
          <button class="btn btn-primary">Add to cart</button>
        </div>
      </div>
    </div>
    <!--oneplus-->
    <div class="col-md-3 col-sm-3">
      <div class="card-header bg-light">
        <div class="row align-items-center">
          <img 
          class="card-img-top"
          src="assets/pics/OnePlus 8 Pro.png"
          alt="Card imgage cap"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">oneplus 8 pro </h5>
          <h4 class="card-title">1500$ </h4>
          <p class="card-text text-justify">
            1)best product with good features.2) top quality product available in market.
          </p>
          <button class="btn btn-primary">Add to cart</button>
        </div>
      </div>
    </div>
    <!--laptops-->
    <!--macbook-->
    <div class="col-md-3 col-sm-3">
      <div class="card-header bg-light">
        <div class="row align-items-center">
          <img 
          class="card-img-top"
          src="assets/pics/MacBook Pro.png"
          alt="Card imgage cap"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">MacBook Pro </h5>
          <h4 class="card-title">1900$ </h4>
          <p class="card-text text-justify">
            1)best product with good features.2) top quality product available in market.
          </p>
          <button class="btn btn-primary">Add to cart</button>
        </div>
      </div>
    </div>
    <!--lenovo-->
    <div class="col-md-3 col-sm-3">
      <div class="card-header bg-light">
        <div class="row align-items-center">
          <img 
          class="card-img-top"
          src="assets/pics/Lenovo Laptop.png"
          alt="Card imgage cap"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Lenovo Laptop </h5>
          <h4 class="card-title">1500$ </h4>
          <p class="card-text text-justify">
            1)best product with good features.2) top quality product available in market.
          </p>
          <button class="btn btn-primary">Add to cart</button>
        </div>
      </div>
    </div>
    <!--hp-->
    <div class="col-md-3 col-sm-3">
      <div class="card-header bg-light">
        <div class="row align-items-center">
          <img 
          class="card-img-top"
          src="assets/pics/HP Laptop.png"
          alt="Card imgage cap"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">HP Laptop </h5>
          <h4 class="card-title">900$ </h4>
          <p class="card-text text-justify">
            1)best product with good features.2) top quality product available in market.
          </p>
          <button class="btn btn-primary">Add to cart</button>
        </div>
      </div>
    </div>
    <!--asus-->
    <div class="col-md-3 col-sm-3">
      <div class="card-header bg-light">
        <div class="row align-items-center">
          <img 
          class="card-img-top"
          src="assets/pics/Asus Rog Laptop.png"
          alt="Card imgage cap"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Asus Rog Laptop </h5>
          <h4 class="card-title">1700$ </h4>
          <p class="card-text text-justify">
            1)best product with good features.2) top quality product available in market.
          </p>
          <button class="btn btn-primary">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>